{
  "root": true,
  "env": {
    "browser": false,
    "react-native/react-native": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [ "react-app", "plugin:react-native/all" ],
  "globals": {
    "__DEV__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [ "react", "react-native" ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "padded-blocks": [ "error", "never" ],
    "no-console": "warn",
    "semi": [ "error", "always" ],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2
  }
}
